
.bienvenida{
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 2s;
    
}

  
.cardsC{
  @include gradient2;
    margin: 50px;
    text-align: center;
  }
