@use "../_custom.scss";

.card{
    overflow: hidden;
    transition: transform 500ms ease;
    .card:hover, .personal:focus-within {
        transform: scale(1.05);
      }

    .redirecciones a{
        text-decoration: none;
        color: $color_blanco;
        border: 1px solid $black;
        border-radius: 5px;
        background-color: $black;
        margin: 2px;
    
    }
    .stafftit{
        @extend .bienvenida
        
    }
    
}


  