@use "../_custom.scss";

.card{
    overflow: hidden;
    transition: transform 500ms ease;
    .card:hover, .personal:focus-within {
        transform: scale(1.05);
      }

    .stafftit{
        @extend .bienvenida
        
    }
    
}


  